@mixin button($color: green) {
  min-width: 24px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  display: inline-flex;
  color: rgba(0, 0, 0, .7);
  transition: .3s;

  & i {
    font-size: 18px;
    line-height: 1;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    background: #eee;
    cursor: pointer;
  }
}
